---
---

// Sadece bu kalsın, hata riskini sıfıra indirelim
:root {
  --nav-width: 220px !important;
  --nav-width-md: 220px !important;
}

// Koyu Mod Mor
@media (prefers-color-scheme: dark) {
  :root {
    --body-background-color: #000000 !important;
    --link-color: #9b59b6 !important;
  }
}