---
---
:root {
  /* Açık Tema: Beyaz & Altın Sarısı */
  --body-background-color: #ffffff;
  --link-color: #FFD700; 
  --header-bg-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Koyu Tema: Siyah & Mor */
    --body-background-color: #000000;
    --link-color: #9b59b6;
    --header-bg-color: #000000;
  }
}

/* Buraya ilerleyen aşamada desenlerin CSS kodlarını ekleyeceğiz */