---
---

// Hata payını sıfıra indirmek için her şeyi temizledik.
// Sadece temel genişlik ayarı kalsın.

:root {
  --nav-width: 220px !important;
}

@media (prefers-color-scheme: dark) {
  body {
    --body-background-color: #000000 !important;
    --link-color: #9b59b6 !important;
  }
}